* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
}

.header {
	background: #373a3c;
	border-radius: 4px;
	border-bottom: 1px solid gray;
	padding: 11px;
}

.container {
	max-width: 1070px;
	margin: 0 auto;
}

.menu {
	display: flex;
	align-items: center;
}

.menu-logo {
	flex: 1 1 auto;
}

.menu-item {
	list-style: none;
	margin-left: 25px;
}

.menu-link {
	font-size: 16px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	transition: all 0.5s ease 0s;
}

.menu-link:hover {
	color: #ffffff;
}

.promo-stars {
	height: calc(100vh - 56px);
	background: url(../img/promo-stars-bg.jpg) no-repeat center / cover;
}

.stars-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
}

.promo-title {
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
	font-weight: 300;
}

.promo-subtitle {
	display: block;
	font-size: 24px;
	line-height: 28px;
	font-weight: 200;
}

.promo-content {
	height: 245px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.promo-block {
	display: flex;
	align-items: center;
	gap: 15px;
}

.promo-button {
	background: #373a3c;
	border-radius: 4px;
	padding: 8px 20px;
	text-decoration: none;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	transition: all 0.5s ease 0s;
}

.promo-button:hover {
	background: #8dd83d;
}

.xbox {
	padding: 65px 0 165px 0;
	background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
}

.xbox-heading {
	text-align: center;
	margin: 0 0 45px 0;
}

.xbox-logo {
	margin: 0 0 15px 0;
}

.xbox-title {
	font-size: 48px;
	line-height: 56px;
	color: #ffffff;
	font-weight: 400;
}

.xbox-subtitle {
	font-size: 36px;
	line-height: 42px;
	display: block;
}

.xbox-card {
	border: 1px solid #8dd83d;
	border-radius: 4px;
	overflow: hidden;
	width: 320px;
	background: #ffffff;
}

.card-image {
	height: 180px;
	margin: 0 0 22px 0;
}

.card-image-1 {
	background: url(../img/xbox-one-x.jpg) no-repeat center / cover;
}

.card-image-2 {
	background: url(../img/xbox-mixer.jpg) no-repeat center / cover;
}

.card-image-3 {
	background: url(../img/xbox-games.jpg) no-repeat center / cover;
}

.card-title {
	font-size: 18px;
	line-height: 21px;
	color: #435766;
	margin: 0 0 13px 0;
	padding: 0 22px;
}

.card-text {
	font-size: 24px;
	line-height: 28px;
	color: #435766;
	margin: 0 0 38px 0;
	padding: 0 22px;
}

.card-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 278px;
	height: 60px;
	background: #8dd83d;
	border-radius: 4px;
	text-decoration: none;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	margin: 0 auto 28px auto;
}

.xbox-content {
	display: flex;
	justify-content: center;
	gap: 50px;
}
